.container {
  display: gri; 
  
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.card {
  display: flex; 
  height: 90%;
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
}



